[Unit]
Description=GökyüzüWebSpam DMARC Fetch Timer (every 6h)

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
